{% extends 'base.html.twig' %}

{% block title %}TV Show{% endblock %}

{% block body %}
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">

    {{ form_start(form) }}
        <div class="flex my-5 items-center">
            <div class="flex mr-2 flex-grow rounded-full border-gray-200 shadow-md border">
                {{ form_widget(form.tvshow, {'attr': {'placeholder': 'Search a TV Show', 'class': 'block w-full py-2 pl-7 pr-12 sm:text-sm rounded-full '}}) }}
            </div>

            <button type="submit" id="query_movie_search" name="query_movie[search]" class="inline-flex justify-center p-2 h-full flex-shrink border border-transparent text-sm font-medium rounded-full text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md ">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>

        </div>
    {{ form_end(form) }}

    {% if popular is defined %}
        <h1 class="dark:text-white text-2xl font-bold my-2">Popular</h1>
        <div class= "flex flex-nowrap space-x-4 flex-wrap overflow-x-auto pb-5">
            {% for tvshow in popular %}
                    {% include 'tv_show/_card.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}

    {% if tvshows is defined %}
        <h1 class="dark:text-white text-2xl font-bold my-2">Result</h1>
        <div class= "flex flex-nowrap space-x-4 flex-wrap overflow-x-auto pb-5">
            {% for tvshow in tvshows %}
                    {% include 'tv_show/_card.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
