
{% if movie.movie is defined %}
    <div class="transition duration-150 ease-in-out flex w-full shadow-md items-center justify-between bg-white dark:bg-gray-800 rounded-lg p-4 h-52 dark:hover:bg-gray-900 hover:bg-indigo-100 hover:shadow-xl">
        {% if movie.movie.images[0].url is defined %}
        
        <div class=" w-40 min-w-20 animate-pulse">
            <img class="w-full rounded-md" src="{{movie.movie.images[0].url}}">
        </div>
        {% endif %}
        <div class="flex justify-between flex-col h-full p-3 w-full">
            <div class=" h-2/5">
                <h2 class="text-lg text-gray-700 dark:text-white">{{movie.movie.title}}</h2>
            </div>
                {% if movie.timeleft is defined %}

            <div class="text-purple-500 flex items-center">
                <svg class=" text-purple-400 animate-bounce w-6 h-6 text-center mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                </svg>
                {{movie.timeleft}}
            </div>
                {% endif %}

            <div class="text-gray-500 flex items-center">
                <svg class=" text-blue-500 w-6 h-6 text-center mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                </svg>
                {% if movie.movie.inCinemas is defined %}

                    {{movie.movie.inCinemas|date("j M. Y") }}

                {% endif %}
            </div>
            <div class="flex flex-row-reverse">
            </div>
        </div>
    </div>
{% endif %}


