@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    height:0.5rem;
  }
  
  *::-webkit-scrollbar-track {
    background: none;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #18181973;
    border-radius: 1rem;
  }