{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
        <div class="flex my-5">
            <h1 class=" text-gray-700 dark:text-white font-extrabold text-6xl ">Please login...</h1>
        </div>
{% endblock %}
